{% extends "layout.html" %}
{% block title %}Account{% endblock %}

{{ super() }}

{% block content %}
    <style>
        label {
            color: white;
            width: 100%;
        }
    </style>
{% with messages = get_flashed_messages() %}
{% if messages %}
<nav class="white black-text" style="padding: 10px">
  <div class="nav-wrapper">
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
  </div>
</nav>
{% endif %}
{% endwith %}
    <div class="row">
      <form id="form">
        <input name="id" value={{user.id}} hidden>

        <div class="row">
          <label for="firstName">First Name</label><br>
          <input value={{user.firstName}} name="firstName" type="text"  placeholder="First name..">
        </div>

        <div class="row">
          <label for="lastName">Last Name</label><br>
          <input value={{user.lastName}} name="lastName" type="text"  placeholder="Last name..">
        </div>

        <div class="row">
          <label for="userame">Username</label><br>
          <input value={{user.username}} name="username" type="text"  placeholder="Username..">
        </div>
        
        <div class="row">
          <label for="email">Email</label><br>
          <input id="email" name="email" placeholder="Email address..">
        </div>
        
        <div class="row">
          <input type="submit" value="Save">
        </div>
      </form>
    </div>

    <script>
      document.forms['form'].addEventListener('submit', update);
      
      async function update(event) {
        event.preventDefault();
        const myForm = event.target;
        const formData = new FormData(form);
          const data = Object.fromEntries(formData);
          const info = {
            body: JSON.stringify(data),
            method: 'UPDATE',
            headers: {
              'Content-Type': 'application/json',
            }
          }
          const res = await fetch('/api/users/update', info);
          if (res.status == 200)
            window.location.href = "/success";
          else
            window.location.href = "/fail";
        
      }
    </script>
{% endblock %}
