{% extends "layout.html" %}
{% block title %}Account{% endblock %}

{{ super() }}

<!--Import local css stylesheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='template-styling.css') }}">



{% block content %}
    <style>
        label {
            color: white;
            width: 100%;
        }

    </style>

    <div class="row">
      <form id="form">
        <input name="id" value={{user.id}} hidden>

        <div class="row">
          <label for="firstName">First Name</label><br>
          <input value={{user.firstName}} name="firstName" type="text"  placeholder="First name..">
        </div>

        <div class="row">
          <label for="lastName">Last Name</label><br>
          <input value={{user.lastName}} name="lastName" type="text"  placeholder="Last name..">
        </div>
        
        <div class="row">
          <label for="email">Email</label><br>
          <input id="email" name="email" placeholder="Email address..">
        </div>
        
        <div class="row">
          <input type="submit" value="Save">
        </div>
      </form>
    </div>

    <script>
      document.forms['form'].addEventListener('submit', update);

      function update(event) {
        event.preventDefault();
        const myForm = event.target;
        const formData = new FormData(form);
          const data = Object.fromEntries(formData);
          const info = {
            body: JSON.stringify(data),
            method: 'UPDATE',
            headers: {
              'Content-Type': 'application/json'
            }
          }
          const res = fetch('/api/users/update', info);
        
      }
    </script>
{% endblock %}
