{% extends "layout.html" %}
{% block title %}Recipient{% endblock %}

{{ super() }}

{% block content %}
    <style>
        label {
            color: white;
            width: 100%;
        }

        form{
          padding-top: 5px;
          padding-bottom: 0px;
          padding-left: 10px;
          padding-right: 10px;
          background: linear-gradient(115deg, #591aa1 10%, rgba(156, 145, 207, 0.067));
          width: 1000px;
          margin-top: 2%;
          margin-left: 5%;
        }

        form p{
          color: rgb(141, 197, 230);
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        label{
          color: rgb(64, 112, 216);
          font-family:Arial, Helvetica, sans-serif;
        }

       
        input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #19a6be;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

    </style>

    <div class="row">
      <form id="form">
        <input name="id" value="" hidden>

        <div class="row">
          <label for="name">Name</label><br>
          <input name="name" type="text"  placeholder="Name..">
        </div>
        
        <label for="recipients">Choose recipient(s):</label><br>
        <select name="recipients" id="recipients" multiple>
          {% for recip in recips %}
            <option>{{recip.email}}</option>
          {% endfor %}
        </select>
        
        <div class="row">
          <input type="submit" value="Save List">
        </div>
      </form>
    </div>

    <script>
      document.forms['form'].addEventListener('submit', createList);

      function createList(event) {
        event.preventDefault();
        const myForm = event.target;
        const formData = new FormData(form);
        const data = Object.fromEntries(formData);

        const arr = [];
        const recips = document.querySelectorAll("option");
        recips.forEach(recip => {
          if (recip.selected == true)
            arr.push(recip.value);
        })

        const final = [data, arr];
        const info = {
          body: JSON.stringify(final),
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        }
        const res = fetch('/api/lists/create', info);
      }
    </script>
{% endblock %}
