{% extends "layout.html" %}
{% block title %}Recipient{% endblock %}

{{ super() }}

{% block content %}
    <style>
        label {
            color: white;
            width: 100%;
        }
    </style>

    <div class="row">
      <form id="form">
        <input name="id" value="" hidden>

        <div class="row">
          <label for="name">Name</label><br>
          <input name="name" type="text"  placeholder="Name..">
        </div>
        
        <label for="recipients">Choose recipient(s):</label><br>
        <select name="recipients" id="recipients" multiple>
          {% for recip in recips %}
            <option value={{recip.id}}>{{recip.email}}</option>
          {% endfor %}
        </select>
        
        <div class="row">
          <input type="submit" value="Save List">
        </div>
      </form>
    </div>

    <script>
      document.forms['form'].addEventListener('submit', createList);

      async function createList(event) {
        event.preventDefault();
        const myForm = event.target;
        const formData = new FormData(form);
        const data = Object.fromEntries(formData);

        const arr = [];
        const recips = document.querySelectorAll("option");
        recips.forEach(recip => {
          if (recip.selected == true)
            arr.push(recip.value);
        })
        console.log(arr);
        const final = [data, arr];
        const info = {
          body: JSON.stringify(final),
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        }
        const res = await fetch('/api/lists/create', info);
        if (res.status == 200)
            window.location.href = "/success";
          else
            window.location.href = "/fail";
      }
    </script>
{% endblock %}
