{% extends "layout.html" %}
{% block title %}Create Recipient{% endblock %}

{{ super() }}

<!--Import local css stylesheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='template-styling.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">


{% block content %}
    <style>
       

    </style>

    <div class="row">
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <p>Add recipients from CSV</p>
        <p><input type="file" name="file"></p>
        <p><input type="submit" value="Submit"></p>
      </form>

    

      <form id="form">
        <input name="id" value="" hidden>

        <div class="row">
          <label for="firstName">First Name</label><br>
          <input name="firstName" type="text"  placeholder="First Name..">
        </div>
        
        <div class="row">
          <label for="lastName">Last Name</label><br>
          <input name="lastName" type="text"  placeholder="Last Name..">
        </div>
        
        <div class="row">
          <label for="email">Email</label><br>
          <input id="email" name="email" placeholder="Email address..">
        </div>
        
        <div class="row">
          <input type="submit" value="Save Recipient">
        </div>
      </form>
    </div>

    <script>
      document.forms['form'].addEventListener('submit', createRecipient);

      async function createRecipient(event) {
        event.preventDefault();
        const myForm = event.target;
        const formData = new FormData(form);
        const data = Object.fromEntries(formData);
        const info = {
          body: JSON.stringify(data),
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        }
        const res = await fetch('/api/recipients/create', info);
        if (res.status == 200)
            window.location.href = "/success";
          else
            window.location.href = "/fail";
      }
    </script>
{% endblock %}
