{% extends "layout.html" %}
{% block title %}{{emails[1]}}{% endblock %}

{{ super() }}

{% block content %}
    <style>
        td, th {
            text-align: center;
            color: white;
        }
        table:hover {
          cursor: pointer;
        }
    </style>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Subject</th><th>Message</th><th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for email in emails[0] %}
            <tr></tr>
              <td value={{email.id}}>{{email.subject}}</td>
              <td value={{email.id}}>{{email.body}}</td>
              <td value={{email.id}}>{{email.date}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>

    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        const rows = document.querySelectorAll("tr");
        rows.forEach(row => {
          row.addEventListener("click", open);
      })
      });

      function open(event) {
        const id = event.target.getAttribute("value");
        window.location.href = `/emails/${id}`;
      }
      
    </script>
{% endblock %}
