{% extends "layout.html" %}
{% block title %}Email{% endblock %}

{{ super() }}

{% block content %}
    <style>
        label {
            color: white;
            width: 100%;
        }
    </style>

    <div class="row">
      <form id="form" action="#">
        <input name="id" value={{email.id}} hidden>

        <label for="list">List:</label><br>
        <select name="list" id="list">
            <option value={{email.mailingListID}}>{{email.mailingList.name}}</option>
        </select>
        
        <div class="row">
          <label for="subject">Subject</label><br>
          <input value={{email.subject}} name="subject" type="text"  placeholder="Subject..">
        </div>
        
        <div class="row">
          <label for="message">Message</label><br>
          <textarea id="message" name="message" placeholder="Write something.." style="height:200px">{{email.body}} </textarea>
        </div>
        
        <div class="row">
          <input type="submit" value="Send Email">
          {% if email.status == "draft" %}
            <input type="submit" value="Save Draft">
          {% endif %}
          <input type="submit" value="Delete">
        </div>
      </form>
    </div>

    <script>
      
      document.forms['form'].addEventListener('submit', sendEmail);

      async function sendEmail(event) {
        event.preventDefault();
        const myForm = event.target;
        if (event.submitter.value === "Send Email") {
          const formData = new FormData(form);
          const data = Object.fromEntries(formData);
          const info = {
            body: JSON.stringify(data),
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            }
          }
          document.body.style.cursor = 'wait';
          const res = await fetch('/api/emails/send', info);
          document.body.style.cursor = 'default';
          if (res.status == 200)
            window.location.href = "/success";
          else
            window.location.href = "/fail";
        }  else {
          const formData = new FormData(form);
          const data = Object.fromEntries(formData);
          const info = {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          }
          const res = await fetch(`/api/emails/delete/${data.id}`, info);
          if (res.status == 200)
            window.location.href = "/success";
          else
            window.location.href = "/fail";
        }

      }
    </script>
{% endblock %}
