{% extends "layout.html" %}
{% block title %}{{emails[1]}}{% endblock %}

{{ super() }}

{% block content %}
    <style>
       table{
          margin-top: 5%;
          margin-left: 0%;
        }
        
        td, th {
            text-align: center;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: rgb(80, 135, 197);
            padding-left: 100px;
        }

        th{
          color: blueviolet;
        
        }
        table:hover {
          cursor: pointer;
        }

        
    </style>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>Subject</th><th>Message</th><th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for email in emails[0] %}
            <tr></tr>
              <td value={{email.id}}>{{email.subject}}</td>
              <td value={{email.id}}>{{email.body}}</td>
              <td value={{email.id}}>{{email.date}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>

    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        const rows = document.querySelectorAll("tr");
        rows.forEach(row => {
          row.addEventListener("click", open);
      })
      });

      function open(event) {
        const id = event.target.getAttribute("value");
        if (id != null)
          window.location.href = `/emails/${id}`;
      }
      
    </script>
{% endblock %}
