{% extends "layout.html" %}
{% block title %}Email{% endblock %}

{{ super() }}

{% block content %}

<!--Import local css stylesheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='template-styling.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">

    <style>
        label {
            color: white;
            width: 100%;
        }

        form{
          padding-top: 20px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
          background: linear-gradient(115deg, #591aa1 10%, rgba(156, 145, 207, 0.067));
          width:1000px;
          margin-top: 0%;
          margin-left: 5%;
        }

        form p{
          color: rgb(141, 197, 230);
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        label{
          color: rgb(64, 112, 216);
          font-family:Arial, Helvetica, sans-serif;
        }
        textarea{
          width: 100%;
        }
        input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #19a6be;
  color: white;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}



    </style>

    <div class="row">
      <form id="form" action="#">
        <input name="id" value={{email.id}} hidden>
        <input name="status" value={{email.status}} hidden>

        <label for="list">List:</label><br>
        <select name="list" id="list">
            <option value={{email.mailingListID}}>{{email.mailingList.name}}</option>
        </select>
        
        <div class="row">
          <label for="subject">Subject</label><br>
          <input value={{email.subject}} name="subject" type="text"  placeholder="Subject..">
        </div>
        
        <div class="row">
          <label for="message">Message</label><br>
          <textarea id="message" name="message" placeholder="Write something.." style="height:200px">{{email.body}} </textarea>
        </div>
        
        <div class="row">
          <input type="submit" value="Send Email">
          {% if email.status == "draft" %}
            <input type="submit" value="Save Draft">
          {% endif %}
          <input type="submit" value="Delete">
        </div>
      </form>
    </div>

    <script>
      
      document.forms['form'].addEventListener('submit', sendEmail);

      async function sendEmail(event) {
        event.preventDefault();
        const myForm = event.target;
        if (event.submitter.value === "Send Email") {
          const formData = new FormData(form);
          const data = Object.fromEntries(formData);
          const info = {
            body: JSON.stringify(data),
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            }
          }
          document.body.style.cursor = 'wait';
          const res = await fetch('/api/emails/send', info);
          document.body.style.cursor = 'default';
          if (res.status == 200)
            window.location.href = "/success";
          else
            window.location.href = "/fail";
        }  else if (event.submitter.value === "Save Draft") {
          const formData = new FormData(form);
          const data = Object.fromEntries(formData);
          const info = {
            body: JSON.stringify(data),
            method: 'UDPATE',
            headers: {
              'Content-Type': 'application/json'
            }
          }
          const res = await fetch(`/api/emails/update`, info);
          if (res.status == 200)
            window.location.href = "/success";
          else
            window.location.href = "/fail";
        } else {
          const formData = new FormData(form);
          const data = Object.fromEntries(formData);
          const info = {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            }
          }
          const res = await fetch(`/api/emails/delete/${data.id}`, info);
          if (res.status == 200)
            window.location.href = "/success";
          else
            window.location.href = "/fail";
        }

      }
    </script>
{% endblock %}
