<!doctype html>
<html>
  <head>
  
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    

  <title>freemail</title>

    </head>

    <body>
    
      <div class="topnav">
        <a href="/"> freemail</a> 

        <div class="topnav-right">
          <a>logout</a>

        </div>
        <div class="topnav-centered">
          <div class="search-container">
          </div>
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
      </div>
    <div class="vertical-menu">
      <a href="#">List</a>
      <a href="#">Contact</a>
      <a href="#">Sent</a>
      <a href="#">Draft</a>
      <a href="#">Account</a>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Create</button>
    <div class="dropdown-content">
      <a href="#">Email</a>
      <a href="#">Contact</a>
      <a href="#">List</a>
    </div>
  </div>
   </body>
   <footer>
    <p>Copyright 2022, FreeMail LTD. All Rights Reserved </p>
  </footer>
      </html>
      
