<!doctype html>
<html>
  <head>

    <!--Import local css stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--Import local java script sheet-->
    <script src="{{ url_for('static', filename='templatefunctions.js') }}"></script>
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Variable icon font-->
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>freemail</title>

  </head>

    <body>


      <header>
      <div class = "navbar">


          <a id = "freemail" href="#">freemail</a>
        <!--<img class ="Logo" src="{{ url_for('static', filename='images/Logo.png') }}" width = "6.5%" height = "6.5%" alt =""></img>-->
            
              <div class="search-container">
                <div id="nav-rounded-corners">
                
                <!-- Icon -->
                <span id = "search" class="material-symbols-outlined"> search </span>

              <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
              </form>
            </div>
            </div>
         
            <span id = "logout" class="material-symbols-outlined">
              logout
              </span>
    
      </div>
      </header>


      </div>

      <section class= "inner-layout">


    <div class="vertical-menu">
      <div id="menu-gradient"></div>

      <ul id = "listing">
      <li><a id = "List" href="#">  List</a>
      <li><a id = "Contact" href="#"> Contact</a></li>
      <li><a id = "Sent" href="#">  Sent</a></li>
      <li><a id = "Draft" href="#">  Draft</a></li>
      <li><a id = "Account" href="#"> Account</a></li>
      <li>

        <div class="dropdown">
          <button onclick="CreateResponse()" class="dropbtn"> Create </button>

          <div id="myDropdown" class="dropdown-content">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
          </div>
        </div>
    </li>
    </ul>
    </div>


    <div class="display-area"> </div>


  </section>
    <!--<footer>
      <p>Copyright 2022, FreeMail LTD. All Rights Reserved </p>
    </footer>-->

</body>

      </html>
      
