{% extends "layout.html" %}
{% block title %}Recipient{% endblock %}

{{ super() }}

{% block content %}

<!--Import local css stylesheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='template-styling.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">

    <style>
        label {
          color: rgb(141, 197, 230);
            width: 100%;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        form{
          padding-top: 20px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
          background: linear-gradient(115deg, #591aa1 10%, rgba(156, 145, 207, 0.067));
          width:1000px;
          margin-top: 5%;
          margin-left: 5%;
        }

        input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #19a6be;
  color: white;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}
       
    </style>

    <div class="row">
      <form id="form">
        <input name="id" value={{list.id}} hidden>

        <div class="row">
          <label for="name">Name</label><br>
          <input name="name" type="text"  placeholder="Name.." value={{list.name}}>
        </div>
        
        <label for="recipients">Choose recipient(s):</label><br>
        <select name="recipients" id="recipients" multiple>
          {% for recip in list.recipients %}
            <option value={{recip.id}}>{{recip.email}}</option>
          {% endfor %}
        </select>
        
        <div class="row">
          <input type="submit" value="Save List">
          <input type="submit" value="Delete">
        </div>
      </form>
    </div>

    <script>
      document.forms['form'].addEventListener('submit', createList);

      function createList(event) {
        event.preventDefault();
        const myForm = event.target;
        const formData = new FormData(form);
        const data = Object.fromEntries(formData);

        const arr = [];
        const recips = document.querySelectorAll("option");
        recips.forEach(recip => {
          if (recip.selected == true)
            arr.push(recip.value);
        })

        const final = [data, arr];

        if (event.submitter.value === "Save List") {
          const info = {
          body: JSON.stringify(final),
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        }
        const res = fetch('/api/lists/create', info);
        } else {
          const info = {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          }
        }
        const res = fetch(`/api/lists/delete/${data.id}`, info);
        }
        
      }
    </script>
{% endblock %}
