{% extends "layout.html" %}
{% block title %}Lists{% endblock %}

{{ super() }}

{% block content %}
    <style>
        td, th {
            text-align: center;
            color: white;
        }
        table:hover {
          cursor: pointer;
        }
    </style>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>ID</th><th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for list in lists %}
            <tr>
              <td value={{list.id}}>{{list.id}}</td>
              <td value={{list.id}}>{{list.name}}</td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>

    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        const rows = document.querySelectorAll("tr");
        rows.forEach(row => {
          row.addEventListener("click", open);
      })
      });

      function open(event) {
        const id = event.target.getAttribute("value");
        window.location.href = `/lists/${id}`;
      }
      
    </script>
{% endblock %}
