{% extends "layout.html" %}
{% block title %}Lists{% endblock %}

{{ super() }}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
 <!--Import local css stylesheet-->
 <link rel="stylesheet" href="{{ url_for('static', filename='template-styling.css') }}">


<body>

<div id="lists-img"></div>
 <div class="row">
      <table>
        <thead>
          <tr>
            <th>ID</th><th>Name</th><th>Recipients</th><th>UserID</th><th>User</th><th>Emails</th>
          </tr>
        </thead>
        <tbody>
          {% for list in lists %}
            <tr>
              <td value={{list.id}}>{{list.id}}</td>
              <td value={{list.id}}>{{list.name}}</td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  </body> 


    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        const rows = document.querySelectorAll("tr");
        rows.forEach(row => {
          row.addEventListener("click", open);
      })
      });

      function open(event) {
        const id = event.target.getAttribute("value");
        window.location.href = `/lists/${id}`;
      }
      
    </script>
{% endblock %}
