{% extends "layout.html" %}
{% block title %}Sent{% endblock %}

{{ super() }}

{% block content %}

<!--Import local css stylesheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='template-styling.css') }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">


<div id="recipients-img"></div>
    <div class="row">
      <table>
        <thead>
          <tr>
            <th>ID</th><th>Name</th><th>Email</th><th>List</th>
          </tr>
        </thead>
        <tbody>
          {% for recip in recips %}
            <tr>
              <td value={{recip.id}}>{{recip.id}}</td>
              <td value={{recip.id}}>{{recip.email}}</td>
              <td></td>
              <td></td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>

    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        const rows = document.querySelectorAll("tr");
        rows.forEach(row => {
          row.addEventListener("click", open);
      })
      });

      function open(event) {
        const id = event.target.getAttribute("value");
        window.location.href = `/recipients/${id}`;
      }
      
    </script>
{% endblock %}