{% extends "layout.html" %}
{% block title %}Recipient{% endblock %}

{{ super() }}

{% block content %}
    <style>
        label {
            color: white;
            width: 100%;
        }
        p {
          color: white;
        }
    </style>

    <div class="row">

      <form id="form">
        <input name="id" value={{recip.id}} hidden>

        <div class="row">
          <label for="firstName">First Name</label><br>
          <input value={{recip.firstName}} name="firstName" type="text"  placeholder="First Name..">
        </div>
        
        <div class="row">
          <label for="lastName">Last Name</label><br>
          <input value={{recip.lastName}} name="lastName" type="text"  placeholder="Last Name..">
        </div>
        
        <div class="row">
          <label for="email">Email</label><br>
          <input value={{recip.email}} id="email" name="email" placeholder="Email address..">
        </div>
        
        <div class="row">
          <input type="submit" value="Save Recipient">
          <input type="submit" value="Delete">
        </div>
      </form>
    </div>

    <script>
      document.forms['form'].addEventListener('submit', createRecipient);

      async function createRecipient(event) {
        event.preventDefault();
        const myForm = event.target;
        const formData = new FormData(form);
        const data = Object.fromEntries(formData);

        if (event.submitter.value === "Save Recipient") {
          const info = {
          body: JSON.stringify(data),
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        }
        const res = await fetch('/api/recipients/create', info);
        if (res.status == 200)
            window.location.href = "/success";
          else
            window.location.href = "/fail";
        } else {
          const info = {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          }
        }
        const res = await fetch(`/api/recipients/delete/${data.id}`, info);
        if (res.status == 200)
            window.location.href = "/success";
          else
            window.location.href = "/fail";
        }
        
      }
    </script>
{% endblock %}
