{% extends "layout.html" %}
{% block title %}Recipients{% endblock %}

{{ super() }}

{% block content %}
    <style>

        table{
          margin-top: 5%;
          margin-left: 0%; 
          border: 1px solid #ddd;
        }

        tr{
          border: 1px solid #ddd;
        }

    
        td, th {
            text-align: center;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: rgb(80, 135, 197);
            padding-left: 100px;
        }

        th{
          color: blueviolet;
        }

        table:hover {
          cursor: pointer;
        }

    </style>

    <div class="row">
      <table>
        <thead>
          <tr>
            <th>First Name</th><th>Last Name</th><th>Email</th>
          </tr>
        </thead>
        <tbody>
          {% for recip in recips %}
            <tr>
              <td value={{recip.id}}>{{recip.firstName}}</td>
              <td value={{recip.id}}>{{recip.lastName}}</td>
              <td value={{recip.id}}>{{recip.email}}</td>
              <td></td>
              <td></td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>

    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        const rows = document.querySelectorAll("tr");
        rows.forEach(row => {
          row.addEventListener("click", open);
      })
      });

      function open(event) {
        const id = event.target.getAttribute("value");
        if (id != null)
          window.location.href = `/recipients/${id}`;
      }
      
    </script>
{% endblock %}